@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(228 89% 98%); /* #f7f8fd */
    --foreground: hsl(232 47% 18%); /* #181e44 */
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(232 47% 18%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(232 47% 18%);
    --primary: hsl(232 52% 48%); /* #4051b5 */
    --primary-foreground: hsl(0 0% 100%);
    --secondary: hsl(228 67% 97%); /* #e6e8f8 */
    --secondary-foreground: hsl(232 47% 18%);
    --muted: hsl(228 44% 88%); /* #cdd0e4 */
    --muted-foreground: hsl(258 25% 49%); /* #5f5d97 */
    --accent: hsl(232 52% 48%);
    --accent-foreground: hsl(0 0% 100%);
    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(0 0% 98%);
    --border: hsl(228 44% 88%); /* #cdd0e4 */
    --input: hsl(228 67% 94%); /* #e7e9f9 */
    --ring: hsl(232 52% 48%);
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
   h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
  body {
     @apply font-body;
  }
}
